/* цвет заголовков #2E2F42 */

/* основной цвет текста #434455 */
:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #4D5AE5;
    --primary-white-color: #FFFFFF;
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
}
.list {
    list-style: none;
}
a {
    text-decoration: none;
}

/* Navigation*/

.logo {
    color: var(--title-text-color);
}
.logo-style {
    color: var(--accent-color);
}
.site-nav .link {
    color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.site-nav .link.current {
    color: var(--accent-color);
}

/* Contacts */

.contacts-nav .link {
    color: var(--primary-text-color);
}
.contacts-nav .link:hover,
.contacts-nav .link:focus {
    color: var(--accent-color);
}

/* Hero */

.hero {
    background-color: var(--title-text-color);
}
.hero-title {
    color: var(--primary-white-color);
}
.hero-button {
    background-color: var(--accent-color);
    border: 0;
    border-radius: 2px;
    color: var(--primary-white-color);
}

/* Section 1*/

.section-title {
    color: var(--title-text-color);
}

.features .title {
    color: var(--title-text-color);
}

/* Section 3 */

.section-teams {
    background-color: #F4F4FD;
}
.teams .title {
    color: var(--title-text-color);
}

/* Footer */

.copyright {
    background-color: var(--title-text-color);
}
.logo-footer {
    color: #F4F4FD;
    
}
.style-logo {
    color: var(--accent-color);
}
.text-footer {
    color: #E7E9FC;
}

/* Porfolio Style */

.projects-filter .link {
    color: var(--accent-color);
    background-color: #E7E9FC;
    border: 0;
    border-radius: 2px;
}
.projects-filter .link:hover,
.projects-filter .link:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color)
}
.projects .title {
    color: var(--title-text-color);
}